@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap%20code");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:  Poppins, sans-serif;
}
.container {
  width: 700px;
  margin: 20px auto;
}